# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Logs
*.log

# Compiled files
*.class

# Package files
*.jar
*.war
*.ear

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Maven wrapper logs
.maven/

application-local.yml